*{

    box-sizing: border-box;
}

body{
    min-width: 250px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.1rem;
}

header{

 background-image: url(./../pictures/showcase.jpg);   
 background-size: cover;
 background-position: 50% 50%;
 background-color: #333;
 min-height: 450px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: #fff;
 
}

.buttomReadMore{
    background-color: #333;
    padding: 1rem 2rem;
    border: 1px solid rgb(102, 102, 102);
    margin: 15px;
}

.headerTextPhone {

    background-color: #333;
    text-align: center;
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
}

h1{

    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.headerParagraph{

    font-size: 1.1rem;
    margin-bottom: 15px;
}

.headerSection{

    text-align: center;

}

a {
    text-decoration: none;
    color: inherit;   
}

.webAppDevelopment{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 10px;
}

.column{

    column-width: 23rem;
    width: 55%;
    padding-bottom: 40px;

}

.webAppHead{

    font-size: 1.5rem;
    padding: 20px 0;
    font-weight: bold;
}


.texListItem{
    background-color: #eaeaea;
    text-align: center;
    width: 30%;
    margin: 40px 0;
    
}

.texList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: #333;
    width:100%;
    gap: 20px;
    padding: 5px 300px;

}

.headerListItem{

    padding-top: 50px;
}

.pListItem{

    padding: 50px 20px;
}